html {
    background: repeating-linear-gradient(
        to right,
        #f6ba52,
        #F7CB15 10px,
        #ffd180 10px,
        #ffd180 20px
      );
}

.content {
    background: #FFF;
    margin: auto;
    width: 50%;
    border-radius: 25px;
    padding: 20px;
}